/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

body {
  display: grid;
  gap: 2rem;
  padding-block: 2rem;
  line-height: 1.8;
  color: whitesmoke;
  background-color: rgb(27, 27, 51);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}

.heading {
  text-align: left;
  line-height: 1.1;
  font-size: 1.8rem;
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
  padding-left: 4%;
}

.title {
  text-align: center;
  color: gold;
  text-decoration: underline;
  line-height: 1.1;
  font-size: 2rem;
  font-size: clamp(2rem, 0.8rem + 6vw, 8rem);
  font-weight: 600;
}

.author {
  text-align: right;
  font-style: italic;
  font-size: 1rem;
  font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
  padding-right: 4%;
  color: whitesmoke;
}

.poem {
  margin-inline: auto;
}

.footer {
  text-align: center;
  font-size: 1rem;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}

.footer a,
.footer a:visited,
.footer a:active,
.footer a:hover {
  color: gold;
  display: inline-block;
  padding: 0rem 0.5rem;
}

.footer a:hover {
  background-color: whitesmoke;
  text-decoration: none;
  border-radius: 0.5rem;
  color: rgb(27, 27, 51);
}
@media screen and (min-width:600px){
  .heading{
      font-size: 6vw;
  }
  .title{
      font-size: 6vw;
  }
  .author{
      font-size: 3vw;
  }
  .poem{
      font-size: 5vw;
  }
}
@media screen and (min-width:960px){
  .balls{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  .heading{
      font-size: 32px;
      padding-left: 10%;
      padding-top: 3%;
  }
  .title{
      font-size: 46px;
  }
  .author{
      font-size: 24px;
      padding-top: 3%;
  }
  .poem{
      font-size: 38px
  }
}
